/* Reset Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add some color */
body {
  background-color: #f0f0f0;
}
header {
  background-color: #3b5998;
  color: white;
}
footer {
  background-color: #3b5998;
  color: white;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
#header-title {
  margin-right: auto;
}