header, h1, h2,h3 {
  color: darkred;
  font-family: 'Yu Mincho', serif;
}
body {
  background-color: lightgray;
  font-family: 'Yu Mincho', serif;
}
.code-container {
  border: 1px solid gray;
  padding: 20px;
}

.code-title {
  background-color: gray;
  color: black;
  padding: 10px;
  text-align: center;
}

pre {
  border: 1px solid gray;
  background-color: black;
  color: white;
  padding: 10px;
}

