header, h1, h2,h3 {
  color: darkred;
  font-family: 'Yu Mincho', serif;
}
body {
  background-color: lightgray;
  font-family: 'Yu Mincho', serif;
}
.code-container {
  border: 5px solid darkred;
  padding: 20px;
  width: calc(75% - 40px);
  margin: 0 auto;
  }

.code-title {
  background-color: gray;
  color: black;
  padding: 10px;
  text-align: center;
  width: calc(100% - 40px);
}

pre {
  border: 1px solid gray;
  background-color: black;
  color: white;
  padding: 10px;
  width: calc(100% - 40px);
}
code {
  width: calc(100% - 40px);
}

/* 本文を赤色にする */
p.h1,h2,h3,h4,h5,h6,main,footer,ul,li,nav,body {
color: rgb(0, 0, 0);
}
pre,code {
background-color:black;
color:white;
}

#specific-image {
   margin: 0 auto;
}

